<div class="flex flex-col items-center mt-8">

    <div class="relative group">
        <img class="rounded-full w-32 h-32 object-cover transition-transform duration-500 transform group-hover:scale-110 shadow-lg" 
             src="https://tse1.mm.bing.net/th/id/OIP.5kU_nQdgEEPluSjSXhKZSAHaHa?w=193&h=193&c=7&r=0&o=5&pid=1.7" 
             alt="Profile Picture"/>
        <div class="absolute inset-0 rounded-full bg-gray-800 opacity-0 group-hover:opacity-50 flex items-center justify-center transition-opacity duration-500">
            <p class="text-white text-lg">View Profile</p>
        </div>
    </div>
  
    <h1 class="font-extrabold text-4xl mt-5 text-gray-800 tracking-wide transition-colors duration-300 hover:text-blue-600 cursor-pointer">
       {{userName | titlecase}}
    </h1>
  
    <div class="flex gap-4 mt-4">
        <a href="#" class="text-gray-600 hover:text-blue-500">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="#" class="text-gray-600 hover:text-blue-700">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="#" class="text-gray-600 hover:text-pink-500">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
    </div>
  </div>
  